<div class="header">
  <div style="display:flex; padding-left:2px; padding-right:2px;">
    <div style="align-items: left">
        <mat-icon id="mainToggleMenuId" class="menutoggle" [ngClass]="isMenuToggleOn ? 'menutogglePressed' : ''" (click)="toggleMenu()">menu</mat-icon>
    </div>
    <div style="width: 100%">
      <div style="text-align:center; color:white; font-family: Georgia; font-size: 20px;">BS</div>
    </div>
    <div style="align-items: right">
      <mat-icon>search</mat-icon>
    </div>
  </div>
</div>

<div class="contentDiv">
  <div class="sideMenu" [ngClass]="isMenuToggleOn ? 'menuItemShow' : 'menuItemHide'">
    <div *ngFor="let menuItem of menu">
      <div class="menuItem mainMenuItem" (click)="toggleMenuItem(menuItem.id)">
        <mat-icon>{{menuItem.icon}}</mat-icon>
        <div>{{menuItem.label}}</div>
        <mat-icon class="arrow" [ngClass]="menuItem.open === true ? 'arrowOpen' : 'arrowClose'">arrow_drop_down</mat-icon>
      </div>
      <div *ngFor="let submenu of menuItem.subMenuItems" [ngClass]="menuItem.open === true ? 'subMenuOpen' : 'subMenuClose'">
        <div class="menuItem subMenuItem" routerLink="/{{submenu.link}}">
          {{submenu.label}}
        </div>
      </div>
    </div>
  </div>
  <div style="width:100%;">
    <router-outlet></router-outlet>
  </div>

</div>


